@import "tailwindcss";

body {
  background-color: #FFF6E7;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@font-face {
  font-family: 'Britanica';
  src: url('../../public/fonts/britanica/Britanica\ Expanded\ Black.ttf');

}

@font-face {
  font-family: 'Britanica-Regular';
  src: url('../../public/fonts/britanica/Britanica\ Expanded\ Regular.ttf');
}

.font-britanica {
  font-family: 'Britanica';
}

.font-britanica-regular {
  font-family: 'Britanica-Regular';
}

.firstServiceImage {
  -webkit-mask-image:
    linear-gradient(to right, transparent 1%, #050219 30%),
    linear-gradient(to left, transparent 1%, #050219 30%),
    linear-gradient(to bottom, transparent 1%, #050219 30%),
    linear-gradient(to top, transparent 1%, #050219 30%);
  -webkit-mask-composite: intersect;
  mask-composite: intersect;
  mask-image:
    linear-gradient(to right, transparent 1%, #050219 30%),
    linear-gradient(to left, transparent 1%, #050219 30%),
    linear-gradient(to bottom, transparent 1%, #050219 30%),
    linear-gradient(to top, transparent 1%, #050219 30%);
  mask-composite: intersect;
}

.text-stroke {
  -webkit-text-stroke: 3px #FFB600; 
  color: transparent; 
  animation: strokeAnimation 1s ease-in-out forwards; 
}

@keyframes strokeAnimation {
  from {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}